
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-size: 16px;
    font-family: 'poppins';

    --text-primary: #000000;
    --text-secondary: #ececec;

    --bg-primary: #FFFFFF;
    --bg-secondary: #1f1f1f;

    --tatum-dark-blue: #1c1e4f;
    --tatum-green: #2ccd9a;
    --tatum-purple: #4f37fd;

    --transition-speed: 300ms;
  }
  
  body {
    width: 100svw;
    height: 100vh;
    background-color: color-mix(in srgb, var(--bg-primary), transparent 1%);

  }
  


  


  


  

  
 
  

  
  

  
  

  
