---
const { htmlId } = Astro.props;
let { placeHolder, CodeComponent} = Astro.props;
if (CodeComponent && placeHolder) {
    throw new Error('You cannot use both CodeComponent and placeHolder at the same time');
}
if (!CodeComponent && !placeHolder) {
    placeHolder = placeHolder || '---'
}
---


<div class="mockup-code m-4 w-full pl-4  min-h-64 max-h-64 overflow-scroll text-xs bg-white text-black">
    {
        CodeComponent ? 
        <pre><code><CodeComponent/></code></pre> :
        <pre><code id={htmlId}>{placeHolder}</code></pre>
    }
</div>


    
