---


---
<div class="flex flex-col items-center gap-6 p-4 justify-center border-2 rounded-lg border-tatum-purple ">
    <label class="input input-bordered flex items-center gap-2">
        <input id="rpc1" type="text" class="grow" value="https://01-hillsboro-020-02.rpc.tatum.io/" />
      </label>
</div>
