---
import { Image } from 'astro:assets';
import Navbar from '../components/Navbar.astro';
import '../style.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tatum-js examples</title>
	</head>
	<Navbar />
	<body>
		<main class="noise">
			<slot />
		</main>
	</body>
</html>
<style>
	main{
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: flex-start;
		padding-top: 3rem;
		margin-left: 12rem;
		width: 100svw;
		margin-right: 12rem;
		height: 100%;
		
	}
	.noise::before{
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		content: "";
		/* you can control opacity of noise  */
		opacity: .010;  
		z-index: -1;
		pointer-events: none;
		background: url('/noise.gif') ;
}
</style>
  