---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
	<article>
		<h1 class="text-3xl">Hello There</h1>
		<p>
			Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page.Welcome to my about me page Welcome Welcome to my about me page Welcome Welcome to my about me page Welcome Welcome to my about me page Welcome Welcome to my about me page Welcome Welcome to my about me page Welcome Welcome to my about me page Welcome Welcome to my about me page Welcome Welcome to my about me page Welcome
		</p>
	</article>
</BaseLayout>
<style>
	article {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		margin-left: 2rem;
		width: clamp(45ch, 75ch, calc(100svw - 12rem));
	}
</style>